<header>
    <button title="Toggle fullscreen" tabindex="-1" (click)="toggleFullscreen($event)" [class.active]="fullscreen">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use [attr.href]="'assets/icons.svg#fullscreen_' + (fullscreen ? 'off' : 'on')"
                href="assets/icons.svg#fullscreen_on"></use>
        </svg>
    </button>
    <button title="Toggle light theme" tabindex="-1" (click)="setTheme($event)" data-theme="light"
        [class.active]="theme==='light'">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#theme_light"></use>
        </svg>
    </button>
    <button title="Toggle dark theme" tabindex="-1" (click)="setTheme($event)" data-theme="dark"
        [class.active]="theme==='dark'">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#theme_dark"></use>
        </svg>
    </button>
    <button title="Toggle timer display while timing" tabindex="-1" (click)="toggleHideTimer($event)"
        [class.active]="!hideWhileTiming">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use [attr.href]="'assets/icons.svg#timer_' + (hideWhileTiming ? 'off' : 'on')"></use>
        </svg>
    </button>
    <button title="Toggle preview time list" tabindex="-1" (click)="togglePreviousTimes($event)"
        [class.active]="showTimes">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#list"></use>
        </svg>
    </button>
    <button title="Clear all previous times" tabindex="-1" (click)="resetStats($event)"
        [disabled]="state === TimerState.Timing || times.length === 0">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#delete"></use>
        </svg>
    </button>
</header>

<main [class]="state">
    <div class="display">{{ solvingTime | stopwatch:hideWhileTiming:state }}</div>
    <div class="lights">
        <div class="staging-state"></div>
        <div class="staged-state"></div>
    </div>
</main>

<aside class="scramble">{{ scramble }}</aside>

@if(showTimes){
<aside class="timelist" [class.more]="hasMoreTimes">
    <ul>
        @for (time of last; track $index) {
        <li>{{ time | stopwatch }}</li>
        }
    </ul>
</aside>
}

<footer>
    <div>
        <dt>best&nbsp;</dt>
        <dl>{{ best | stopwatch }}</dl>
    </div>
    <div>
        <dt>avg5&nbsp;</dt>
        <dl>{{ avg5 | stopwatch }}</dl>
    </div>
    <div>
        <dt>avg12&nbsp;</dt>
        <dl>{{ avg12 | stopwatch }}</dl>
    </div>
</footer>

<app-confirm [class.shown]="confirmShown"></app-confirm>