<header>
    <button title="Clear all previous times" tabindex="-1" (click)="clearDialog.show()"
        [disabled]="state === TimerState.Timing || times.length === 0">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#delete"></use>
        </svg>
    </button>
    <button title="Show settings" tabindex="-1" (click)="settingsDialog.show()">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use href="assets/icons.svg#settings"></use>
        </svg>
    </button>
    <button title="Toggle fullscreen" tabindex="-1" (click)="toggleFullscreen($event)" [class.active]="fullscreen">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <use [attr.href]="'assets/icons.svg#fullscreen_' + (fullscreen ? 'off' : 'on')"
                href="assets/icons.svg#fullscreen_on"></use>
        </svg>
    </button>
</header>

<main [class]="state">
    <div class="display">{{ solvingTime | stopwatch:hideWhileTiming:state }}</div>
    <div class="lights">
        <div class="staging-state"></div>
        <div class="staged-state"></div>
    </div>
</main>

<aside class="scramble">{{ scramble }}</aside>

@if(showTimes){
<aside class="timelist" [class.more]="hasMoreTimes">
    <ul>
        @for (time of last; track $index) {
        <li>{{ time | stopwatch }}</li>
        }
    </ul>
</aside>
}

<footer>
    <div>
        <dt>best&nbsp;</dt>
        <dl>{{ best | stopwatch }}</dl>
    </div>
    <div>
        <dt>avg5&nbsp;</dt>
        <dl>{{ avg5 | stopwatch }}</dl>
    </div>
    <div>
        <dt>avg12&nbsp;</dt>
        <dl>{{ avg12 | stopwatch }}</dl>
    </div>
</footer>

<app-dialog #clearDialog (onAction)="handleAction($event)">
    <ng-template #dialogContent>
        Are you sure you want to clear all previous times?
    </ng-template>
    <ng-template #dialogButtons>
        <button data-action="clear">clear</button>
        <button data-action="cancel">cancel</button>
    </ng-template>
</app-dialog>

<app-dialog #settingsDialog (onShow)="showSettings()" (onAction)="handleAction($event)">
    <ng-template #dialogContent>
        <app-settings></app-settings>
    </ng-template>
    <ng-template #dialogButtons>
        <button data-action="save">save</button>
        <button data-action="cancel">cancel</button>
    </ng-template>
</app-dialog>