@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
	--black: #212529;
	--white: #dee2e6;
	--gray: #6c757d;
	--red: #dc3545;
	--green: #198754;

	--background: var(--black);
	--foreground: var(--white);
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'DM Mono', monospace;
	touch-action: none;
}

