:host {
	position: fixed;
	z-index: 100;
	inset: 0;
	background: transparent;
	text-align: center;
	pointer-events: none;
	transition: background-color 200ms ease-in-out;

	&.shown {
		background: rgba(0 0 0 / 75%);
		pointer-events: initial;

		.dialog {
			transform: translateY(0);
		}
	}
}

::ng-deep {

	.dialog {
		display: inline-block;
		border-radius: .25rem;
		padding: 1rem;
		margin-top: 1rem;
		max-width: 80vw;
		transform: translateY(-125%);
		transition: transform 200ms ease-in-out;

		.dialog-content {
			margin: 0 0 1rem;
			text-align: initial;
		}

		.dialog-buttons {
			display: inline-grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 8px;
		}

		button {
			appearance: none;
			border: none;
			padding: .375rem .75rem;
			border-radius: .375rem;
			text-transform: capitalize;
			font-family: inherit;
			cursor: pointer;
			transition: background-color 150ms ease-in-out;
			font-size: inherit;

			&[data-action=clear] {
				background: var(--red);
				color: var(--white);

				&:hover {
					background: color-mix(in srgb, var(--red) 85%, var(--black));
				}
			}

			&[data-action=cancel] {
				background: var(--gray);
				color: var(--white);

				&:hover {
					background: color-mix(in srgb, var(--gray) 85%, var(--black));
				}
			}

			&[data-action=save] {
				background-color: var(--green);
				color: var(--white);

				&:hover {
					background: color-mix(in srgb, var(--green) 85%, var(--black));
				}
			}
		}
	}
}